.facts-list {
    background-color: #ffffff;
    grid-row: 3;
    width: 1000px;
    padding: 28px 32px 0;
    margin-bottom: 25px;
    font-size: 0.8125rem;
    line-height: 1.538;
    color: #16303c;

    span {
        display: flex;
        align-items: center;

        img {
            margin-left: 5px;
            width: 13px;
            height: 14px;

            &.up {
                transform: rotate(180deg);
            }

            &:first-child {
                margin-left: 12px;

                &:hover:not(:only-child) {
                    cursor: pointer;
                }
            }

        }
    }

    .header {
        font-weight: 500;

        &.date {
            img:first-of-type {
                width: 8px;
                height: 10px;
            }
        }
    }

    div.fact {
        display: grid;
        grid-template-columns: 347px repeat(2, 294px);
        border-bottom: 1px solid #b3bec2;
        align-items: center;
        grid-template-rows: 44px;
        transition: .4s;

        span {
            padding-left: 12px;
        }

        &.selected {
            background-color: #e2f4fc;
            grid-template-rows: 44px auto;
        }

        .fact-preview {
            grid-column: 1 / -1;
            background-color: #eff4f7;
            padding: 52px 144px 52px 144px;
            transition: .4s;

            .img-container {
                background-color: #eff4f7;
            }

            &.closed {
                height: 0;
                padding-top: 0;
                padding-bottom: 0;

                >* {
                    display: none;
                }
            }

            &.open {
                height: auto;
            }
        }

        &:not(:first-of-type):hover {
            cursor: pointer;
        }
    }
}